<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="content-language" content="ja" />
<meta name="author" content="株式会社ホームクリニック" lang="ja" xml:lang="ja" />
<meta name="copyright" content="Copyright (c) 2008 HOMECLINIC CO.,LTD ALL RIGHTS RESERVED." />
<title>秋田 リフォームはホームクリニック｜秋田｜横手｜大仙｜能代｜由利本荘｜住宅｜リフォーム｜リノベーション｜</title>
<meta name="Description" content="秋田でリフォームのことならホームクリニックへ。" />
<meta name="Keywords" content="秋田,横手,大仙,能代,由利本荘,住宅,建築,リフォーム,リノベーション" />
<link rel="stylesheet" href="css/main.css" type="text/css" />
<link rel="stylesheet" href="css/top.css" type="text/css" />
<script src="/utm/__utm.js" type="text/javascript"></script>
<link rel="alternate" type="application/rss+xml" title="ROR" href="ror.xml" />
<script src="Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
</head>

<body>

<div class="head">
	<div class="head_left">
		<h1><a href="index.htm" title="秋田・横手・大仙・能代・本荘で住宅リフォームのことならホームクリニックへ。｜リフォーム｜リノベーション｜住宅｜">秋田・横手・大仙・能代・本荘で住宅リフォームのことならホームクリニックへ。｜リフォーム｜リノベーション｜住宅｜</a></h1>
	</div>
	<div class="head_right">
		<h2>住宅リフォーム・リノベーション・一般住宅建築・アパート建築は秋田のホームクリニック</h2>
	</div>
</div>

<div class="menu">
	<ul>
		<li id="menu1"><a href="index.htm" title="ホームに戻る">ホームに戻る</a></li>
		<li id="menu2"><a href="re/re.htm" title="リノベーション">秋田・横手・大仙・能代・本荘のリフォーム・リノベーションを考える</a></li>
		<li id="menu4"><a href="results/results.htm" title="住まいの事例紹介">住まいの事例紹介</a></li>
		<li id="menu5"><a href="house/house.htm" title="ホームクリニックの住まい">ホームクリニックの住まい</a></li>
		<li id="menu6"><a href="./estimate/index.php" title="お見積もり">お見積もり</a></li>
		<li id="menu7"><a href="./contact/index.php" title="お問い合わせ">お問い合わせ</a></li>
		<li id="menu3"><a href="company/company.htm" title="会社概要">会社概要</a></li>
	</ul>
</div>

<div class="main">
	<p class="clear"><img src="/images/image/icon/spacer.gif" alt="クリア" width="1" height="1" /></p>
	<!--分割１（写真＋メニュー）ー-->
	<div class="main1">
		<div class="left1">
			<h3><a href="re/re.htm" title="住まいを再生させ、暮らしを向上させる、それが「リノベーション」です。">住まいを再生させ、暮らしを向上させる、それが「リノベーション」です。</a></h3>
		</div>
		<div class="right1">
			<ul>
				<li id="r1_menu1"><a href="results/results.htm" title="住宅の施工事例">住宅の施工事例</a></li>
				<li id="r1_menu3"><a href="http://www.homeclinic.co.jp/blog/HCSTF/" title="スタッフブログ" target="_blank">スタッフブログ</a></li>
			</ul>
		</div>
        
		<div class="oldlink"><a href="http://hcgenba.exblog.jp" title="現場ブログ" target="_blank">過去の現場ブログ</a></div>
        <div class="oldlink"><a href="http://hcstaff.exblog.jp" title="スタッフブログ" target="_blank">過去のスタッフブログ</a></div>
        
	</div><!-- class="main1" -->
	<!--分割１（写真＋メニュー）ここまでー-->
	<br />
  <br>
<!--	
	<div align="center"><a href="http://www.asahisogo.com/20111227/xmas.html" target="_blank" ><img src="./20111119/christmas2011_245x150.jpg" width="245" height="150" border="0" /></a><img src="./image/chikai245x150.jpg" width="245" height="150" border="0" /></div>
-->


<div style="border:1px solid #BBBBBB; margin:0 14px 0 14px; padding:10px 0 10px 0;">
	<div align="center">
	<img src="./image/top_movie_title.gif" width="730" height="30" border="0" title="セレクト20 事例"/>
	</div>

	<div align="center">
	<a a href="javascript:void(0);" alt="KAKUREYA" onClick='window.open("./movie/movie.php?num=1" , "KAKUREYA" , "width=340 height=270");'><img src="./image/top_menu_movie_01_kakureya.gif" width="180" height="30" border="0" title="KAKUREYA"/></a>
	<a a href="javascript:void(0);" alt="WOOD" onClick='window.open("./movie/movie.php?num=2" , "WOOD" , "width=340 height=270");'><img src="./image/top_menu_movie_02_wood.gif" width="180" height="30" border="0" title="WOOD"/></a>
	<a a href="javascript:void(0);" alt="BOSS" onClick='window.open("./movie/movie.php?num=3" , "BOSS" , "width=340 height=270");'><img src="./image/top_menu_movie_03_boss.gif" width="180" height="30" border="0" title="BOSS"/></a>
	<a a href="javascript:void(0);" alt="HOBBY_ROOM" onClick='window.open("./movie/movie.php?num=4" , "HOBBY_ROOM" , "width=340 height=270");'><img src="./image/top_menu_movie_04_hobby_room.gif" width="180" height="30" border="0" title="HOBBY ROOM"/></a>
	</div>
</div>


	<!--分割２（ライフスタイル＋トピックス）ー-->
	<div class="main2">
		<div class="left2">
			<div class="left2_l">
				<p><img src="/images/image/title/top_sytle_title.png" alt="ライフスタイル" width="250" height="24" /></p>
				<table summary="lifestyle">
					<tr>
						<td class="td1"><a href="re/about.htm"><img src="/images/image/photo/style_01.jpg" alt="リノベーションとは" width="70" height="50" /></a></td>
						<td class="td2"><a href="re/about.htm">リノベーションとは</a><br />
						住まいを再生し、暮らしを向上させたり価値を高めたりすること。</td>
					</tr>
					<tr>
						<td class="td1"><a href="re/diff.htm"><img src="/images/image/photo/style_02.jpg" alt="新築住宅" width="70" height="50" /></a></td>
						<td class="td2"><a href="re/diff.htm">リフォームとの違い</a><br />
						老朽化した設備を一新するのとは違います。</td>
					</tr>
					<tr>
						<td class="td1"><a href="re/merrit.htm"><img src="/images/image/photo/style_03.jpg" alt="２ｂｙ４工法" width="70" height="50" /></a></td>
						<td class="td2"><a href="re/merrit.htm">リノベーションのメリット</a><br />
						ローコストでオリジナルの住空間を創出。</td>
					</tr>
					<tr>
						<td class="td1"><a href="re/lifestyle.htm"><img src="/images/image/photo/style_04.jpg" alt="オール電化住宅" width="70" height="50" /></a></td>
						<td class="td2"><a href="re/lifestyle.htm">ライフスタイル</a><br />
				  	  	それぞれのライフスタイルに合わせた住まいづくりをご提案。</td>
					</tr>
				</table>
			</div><!-- class="left2_l" -->
			<div class="left2_r">
				<p><img src="/images/image/title/top_results_title.png" alt="住まいの施工事例紹介" width="250" height="24" /></p>
				<table summary="lifestyle">
					<tr>
						<td class="td1"><a href="results/results.htm"><img src="/images/image/photo/results_01.jpg" alt="只今建築中！" width="70" height="50" /></a></td>
						<td class="td2"><a href="results/results.htm">只今、建築中！</a><br />
						現在施工中の物件をブログにて配信！</td>
					</tr>
					<tr>
						<td class="td1"><a href="results/results_reno.htm"><img src="/images/image/photo/results_02.jpg" alt="リノベーション事例" width="70" height="50" /></a></td>
						<td class="td2"><a href="results/results_reno.htm">リノベーション実例</a><br />
						リノベーションおよびリフォーム事例のご紹介。</td>
					</tr>
					<tr>
						<td class="td1"><a href="results/results_house.htm"><img src="/images/image/photo/results_03.jpg" alt="一般住宅事例" width="70" height="50" /></a></td>
						<td class="td2"><a href="results/results_house.htm">一般住宅実例</a><br />
						建売住宅や注文住宅等の一般住宅のご紹介。</td>
					</tr>
					<tr>
						<td class="td1"><a href="results/results_apart.htm"><img src="/images/image/photo/results_04.jpg" alt="アパート実例" width="70" height="50" /></a></td>
						<td class="td2"><a href="results/results_apart.htm">アパート実例</a><br />
					  秋田県内のアパートの施工事例をご紹介。</td>
					</tr>
				</table>
			</div><!-- class="left2_r" -->
		</div><!-- class="left2" -->
        
         <!--キャンペーンバナースタート-->
<!--
         <div align="center"><a href="campaign/index.htm" target="_blank" ><img src="/images/image/event/20110910/lifeUp.png" width="196" height="64" border="0" /></a></div>
		 <br>
         <div align="center"><a href="campaign/index2.htm" target="_blank" ><img src="/images/image/event/campain/20111008/lifeup02.gif" width="196" height="64" border="0" /></a></div>
      <br />
-->
		<div align="center">
		<p><img src="/images/image/title/top_topic_title.png"  /></p>
			<table summary="lifestyle">
				<tr>
					<td class="td1"><a href="event/starrysky20111119.htm" target="_blank"><img src="event/starrysky20111119-s.png" alt="内覧会" width="70" height="50" /></a></td>
					<td class="td2"><a href="event/starrysky20111119.htm" target="_blank">リフォーム内覧会開催</a><br />
					スターリースカイ２０５号室<br>11月19日～20日</td>
				</tr>
				<tr>
					<td class="td1"><a href="event/hanazono20111119.htm" target="_blank"><img src="event/hanazono20111119-s.png" alt="内覧会" width="70" height="50" /></a></td>
					<td class="td2"><a href="event/hanazono20111119.htm" target="_blank">こだわりリフォーム<br>内覧会開催</a><br />
					シャトーあいたこ花園３２号室<br>11月19日～20日</td>
				</tr>
				<tr>
					<td class="td1"><a href="event/maronie20111119.htm" target="_blank"><img src="event/maronie20111119-s.png" alt="内覧会" width="70" height="50" /></a></td>
					<td class="td2"><a href="event/maronie20111119.htm" target="_blank">こだわりリフォーム<br>内覧会開催</a><br />
					コーポマロニエⅡ<br>11月19日～20日</td>
				</tr>
<!--
				<tr>
					<td class="td1"><a href="event/berutopia20110910.htm" target="_blank"><img src="event/berutopia20110910-s.jpg" alt="内覧会" width="70" height="50" /></a></td>
					<td class="td2"><a href="event/berutopia20110910.htm" target="_blank">リフォーム内覧会開催</a><br />
					ベルトピア秋田　３</td>
				</tr>
				<tr>
					<td class="td1"><a href="event/kopohaiburiji20110910.htm" target="_blank"><img src="event/kopohaiburiji20110910-s.jpg" alt="内覧会" width="70" height="50" /></a></td>
					<td class="td2"><a href="event/kopohaiburiji20110910.htm" target="_blank">リフォーム内覧会開催</a><br />
					コーポハイブリッチ　２０２</td>
				</tr>
				<tr>
					<td class="td1"><a href="event/noshirodeto20110910.htm" target="_blank"><img src="event/noshirodeto20110910-s.jpg" alt="内覧会" width="70" height="50" /></a></td>
					<td class="td2"><a href="event/noshirodeto20110910.htm" target="_blank">リフォーム内覧会開催</a><br />
					第二コーポ佐藤</td>
				</tr>
-->
			</table>
		</div>
		<p>
		  <!-- align="center" -->
		  <br /> 
		  <!--キャンペーンバナーエンド-->
      </p>
	</div><!-- class="main2" -->
  <!-- -->
  <!-- class="main2" -->
  <!-- -->
  <!--分割２（ライフスタイル＋トピックス）ここまでー-->
  <p align="left" class="clear">　</p>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td width="34%"><center>
        <span class="clear"><img src="/images/image/chikai245x150.jpg" /></span>
      </center>      </td>
      <td width="33%"><center><span class="clear">
          <span class="clear"><a href="http://happinets.net/" target="_blank"><img src="/images/image/northernhappinet245x150.jpg" alt="朝日綜合グループは、秋田ノーザンハピネッツを応援しています！" border="0" /></a></span>
      </center>      </td>
      <td width="33%"><center>
      </center>      </td>
    </tr>
  </table>
  <p align="left" class="clear">　　</p>
  <p class="clear"><img src="/images/image/icon/spacer.gif" alt="クリア" width="1" height="1" /></p>
</div><!--  class="main" -->

<div class="foot">
	<div class="foot_left"><p><img src="/images/image/obj/foot_phone_num.png" alt="お問い合わせ・ご相談は0182-33-6788" width="240" height="14" /></p></div>
	<div class="foot_right">
		<ul>
			<li>｜</li>
			<li><a href="link/link.htm">リンク</a></li>
			<li>｜</li>
			<li><a href="sitemap/sitemap.htm">サイトマップ</a></li>
			<li>｜</li>
			<li><a href="policy/policy.htm">サイトポリシー</a></li>
			<li>｜</li>
			<li><a href="personal/personal.htm">個人情報保護法</a></li>
			<li>｜</li>
			<li><a href="company/company.htm">会社概要</a></li>
			<li>｜</li>
			<li><a href="event/event.htm">イベント情報</a></li>
		</ul>
		<p>COPYRIGHT(C) 2007 HOME CLINIC CO.,LTD ALL RIGHTS RESERVED.</p>
	</div><!--  class="foot_right" -->
</div><!--  class="foot" -->

</body>
</html>

