<!DOCTYPE html>
<html>
  <head>
    <title>Shigeo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application','/css/main', '/css/top', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', '/Scripts/AC_RunActiveContent', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
